{% extends 'base.html' %}

{% block title %}
  {{ board.name }}
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'board-home' %}">Boards</a></li>
            <li class="breadcrumb-item active">{{ board.name }}</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New Topic</a>
    </div>
    {% if board.topics.count > 0 %}
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Topic</th>
                <th>Starter</th>
                <th>Replies</th>
                <th>Views</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in board.topics.all %}
            <tr>
                <td><a href="{% url 'topic_posts' board.id topic.id %}">{{ topic.subject }}</a></td>
                <td>{{ topic.starter.username }}</td>
                <td>{{ topic.posts.count|add:'-1' }}</td>
                <td>0</td>
                <td>{{ topic.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}